body{ 
    background: url("background.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    align-items: center;
    position: relative;
    top: 180px;
    
}

h0{
    font-size: 60px;
}

h1{
    font-size: 50px;
    font-weight:100px;
}

p{
    font-size: 25px;
    font-weight: 50px;
}
